/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.page-content {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.section {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* Common styles for sections */
.section h1,
.section p {
    text-align: center;
    color: white;
}

/* Section-specific styles */
.sec1 {
    background: url("../media/images/website/moon.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    backdrop-filter: blur(5px);
}

.sec2 {
    background: url("../media/images/website/training-828741_1920.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    backdrop-filter: blur(5px);
}

.sec3 {
    background: url("../media/images/website/man-2264825_1920.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    backdrop-filter: blur(5px);
}

/* On scroll animations */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

/* Additional styles */
.heading {
    font-size: 2em;
    margin-bottom: 20px;
}

.sub-heading {
    font-size: 1.5em;
    margin-bottom: 10px;
}
