{% extends 'base.html' %}

{% load mathfilters %}

{% block content %}
<body>
<h1>{{ object.name }}</h1>
<h2>
    <a href="{% url 'profile:following' profile_id=object.id %}">{{object.following.count}} Following</a>
    <a href="{% url 'profile:followers' profile_id=object.id %}">{{object.followers.count}} Followers</a>
</h2>
{% if request.user.is_authenticated and not is_own_profile %}
    {% if user_profile in object.followers.all %}
        <a href="{% url 'profile:follow-toggle' profile_id=object.id  %}" class="btn btn-primary">Unfollow</a>
    {% else %}
        <a  href="{% url 'profile:follow-toggle' profile_id=object.id  %}" class="btn btn-primary"> Follow </a>
    {% endif %}
{% elif not is_own_profile %}
    <p> please, login to follow </p>
{% endif %}
<h2>
    {% if object.age %} {{ object.age }} {% endif %}
    {% if object.height %} / {{ object.height }} {% endif %}
    {% if object.weight %} / {{ object.weight }} {% endif %}
</h2>

<br>
{% if object.bio %}
{{ object.bio }}
{% endif %}
</br>
<ul>
    {% if object.tiktok_url %}
    <li><a href="{{ profile.tiktok_url }}">TikTok</a></li>
    {% endif %}
    {% if object.instagram_url %}
    <li><a href="{{ profile.profile.instagram_url }}">Instagram</a></li>
    {% endif %}
    {% if object.youtube_url %}
    <li><a href="{{ profile.youtube_url }}">Youtube</a></li>
    {% endif %}
</ul>
</p>

<!--Add record-->
{% if is_own_profile %}
<a class="btn btn-success" href="{% url 'record:add' %}">Add a record</a>
{% endif %}
</br>
</br>

<!--table of records-->
<h3>All records</h3>
{% if records %}
<table>
    <tr>
        <th>Title</th>
        <th>Lift</th>
        <th>Weight</th>
        <th>Repetitions</th>
        <th>Body Weight</th>
        <th>Date</th>
    </tr>
    {% for record in records %}
    <tr>
        <td><a href="{% url 'record:details' record.id %}">{{ record.title }}</a></td>
        <td>{{ record.lift_name }}</td>
        <td>{% if own_profile.metric %} {{record.weight_lifted|div:2.205|floatformat:1 }} {% else %}
            {{record.weight_lifted}} {% endif %}
        </td>
        <td>{{ record.repetitions }}</td>
        <td> {% if record.body_weight %} {{ record.body_weight }} {% else %} - {% endif %}</td>
        <td>{{ record.date_lifted }}</td>
        {% if is_own_profile %}
        <td>
            <a href="{% url 'record:edit' record.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'record:delete' record.id %}"
               onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}

<!-- Timeline -->
<h3>Timeline</h3>
{% if is_own_profile %}
<a class="btn btn-success" href="{% url 'feed:add' %}">Add a Post</a>
{% endif %}
</body>
{% endblock %}