{% extends 'base.html' %}

{% block content %}
    <h1>{{ profile.name }}</h1>
    <h2>
        {% if profile.age %} {{ profile.age }} {% endif %}
        {% if profile.height %} / {{ profile.height }} {% endif %}
        {% if profile.weight %} / {{ profile.weight }} {% endif %}
    </h2>
    <br>
        {% if profile.bio %}
            {{ profile.bio }}
        {% endif %}
        </br>
        <ul>
            {% if profile.tiktok_url %}
                            <li><a href="{{ profile.tiktok_url }}">TikTok</a></li>
            {% endif %}
            {% if profile.profile.instagram_url %}
                            <li><a href="{{ profile.profile.instagram_url }}">Instagram</a></li>
            {% endif %}
            {% if profile.youtube_url %}
                            <li><a href="{{ profile.youtube_url }}">Youtube</a></li>
            {% endif %}
        </ul>
    </p>

<!--Add record-->
    {% if own_profile %}
        <a class="btn btn-success" href="{% url 'record:add' %}">Add a record</a>
    {% endif %}
</br>
</br>
<!--Active records-->
<h3>Active Records</h3>
{% if latest_records %}
        <table>
            <tr>
                <th>Lift</th>
                <th>Weight</th>
                <th>Repetitions</th>
                <th>Body Weight</th>
                <th>Date</th>
            </tr>
            {% for record in latest_records %}
                {% if record != None %}
                    <tr>
                        <td>{{ record.lift_name }}</td>
                        <td>{{ record.weight_lifted }}</td>
                        <td>{{ record.repetitions }}</td>
                        <td> {% if record.body_weight %} {{ record.body_weight }} {% else %} - {% endif %} </td>
                        <td>{{ record.date_lifted }}</td>
                        {% if own_profile %}
                            <td>
                                <a href="{% url 'record:edit' record.id %}">Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'record:delete' record.id %}" onclick="return confirm('Are you sure you want to delet this record?')">Delete</a>
                            </td>
                        {% endif %}
                            </tr>
                        {% endif %}
            {% endfor %}
        </table>
{% endif %}

<!--Lifetime records-->
<h3>Lifetime Records</h3>
{% if lifetime_records %}
        <table>
            <tr>
                <th>Lift</th>
                <th>Weight</th>
                <th>Repetitions</th>
                <th>Body Weight</th>
                <th>Date</th>
            </tr>
            {% for record in lifetime_records %}
                {% if record != None %}
                    <tr>
                        <td>{{ record.lift_name }}</td>
                        <td>{{ record.weight_lifted }}</td>
                        <td>{{ record.repetitions }}</td>
                        <td> {% if record.body_weight %} {{ record.body_weight }} {% else %} - {% endif %} </td>
                        <td>{{ record.date_lifted }}</td>
                        {% if own_profile %}
                            <td>
                                <a href="{% url 'record:edit' record.id %}">Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'record:delete' record.id %}" onclick="return confirm('Are you sure you want to delet this record?')">Delete</a>
                            </td>
                        {% endif %}
                            </tr>
                        {% endif %}
            {% endfor %}
        </table>
{% endif %}

</br>

<!--table of records-->
<h3>All records</h3>
    {% if records %}
        <table>
            <tr>
                <th>Lift</th>
                <th>Weight</th>
                <th>Repetitions</th>
                <th>Body Weight</th>
                <th>Date</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record.lift_name }}</td>
                <td>{{ record.weight_lifted }}</td>
                <td>{{ record.repetitions }}</td>
                <td> {% if record.body_weight %} {{ record.body_weight }} {% else %} - {% endif %} </td>
                <td>{{ record.date_lifted }}</td>
                {% if own_profile %}
                    <td>
                        <a href="{% url 'record:edit' record.id %}">Edit</a>
                    </td>
                    <td>
                        <a href="{% url 'record:delete' record.id %}" onclick="return confirm('Are you sure you want to delet this record?')">Delete</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}