{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'home.css' %}"/>
{% include 'navbar.html' %}

{% if request.user.is_authenticated %}
{% for post in user_feed %}
<div class="card" style="width: 18rem; color: black">
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.description}}</p>
        <a href="{{ post.recordpost.item.get_absolute_url }}" class="btn btn-primary">{{post.recordpost.item}}</a>
        <a href="{% url 'feed:like' post_id=post.id %}" class="btn btn-primary">Like {{post.likes.all.count }}</a>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}