{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}"/>
<script defer src="{% static 'index.js' %}"></script>

<div class="page-content">
    <div class="section sec1">
        {% include 'navbar.html' %}
        <main>
            <section class="hidden">
                <h1 class="heading">Take your lifts to the moon.</h1>
            </section>
        </main>
    </div>
    <div class="section sec2">
        <section class="hidden">
            <p class="sub-heading">Keep track of your records.</p>
        </section>
    </div>
    <div class="section sec3" loading="eager">
        <section class="hidden">
            <p class="sub-heading">Compete with your friends.</p>
        </section>
    </div>
</div>

{% endblock %}
